#directions{
    width: 20vw;
    position: absolute;
    bottom: 2.5vh;
    right: 0.6vw;
    color: #965A3E;
    font-size: 3.5vh;
    font-family: "Signika Negative", sans-serif;
    font-weight: bold;
    text-align: left;
}
#home-button {
    height: 4vh;
    width: 5vw;
    position: absolute;
    top: 1.5vh;
    right: 1vw;
    padding: 10px 20px;
    background-color: #965A3E;
    color: #FFE5D9;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Signika Negative", sans-serif;
    text-align: center;
    font-size: 25px;
    user-select: none;
}

#home-button:hover {
    background-color: #7B472F;
}

#flower1 {
    width: 100px;
    height: auto;
    top: 10vh;
    left: 70vw;
    z-index: 99999;
    position: absolute;
    animation: rotateFlower 10s linear infinite; /* Rotate animation */
    user-select: none;
}

#flower2 {
    width: 75px;
    height: auto;
    top: 4vh;
    left: 70vw;
    z-index: 99999;
    position: absolute;
    animation: rotateFlower 10s linear infinite; /* Rotate animation */
    user-select: none;

}
#flower3 {
    width: 80px;
    height: auto;
    top: 6.6vh;
    left: 66.5vw;
    z-index: 99999;
    position: absolute;
    animation: rotateFlower 10s linear infinite; /* Rotate animation */
    user-select: none;

}
#flower4 {
    width: 60px;
    height: auto;
    top: 3vh;
    left: 45vw;
    z-index: 99999;
    position: absolute;
    animation: rotateFlower 10s linear infinite; /* Rotate animation */
    user-select: none;

}
#flower5 {
    width: 85px;
    height: auto;
    top: 4vh;
    left: 48vw;
    z-index: 99999;
    position: absolute;
    animation: rotateFlower 10s linear infinite; /* Rotate animation */
    user-select: none;

}
#flower6 {
    width: 80px;
    height: auto;
    top: 4vh;
    left: 25vw;
    z-index: 99999;
    position: absolute;
    animation: rotateFlower 10s linear infinite; /* Rotate animation */
    user-select: none;

}
#flower7 {
    width: 70px;
    height: auto;
    top: 14vh;
    left: 23vw;
    z-index: 99999;
    position: absolute;
    animation: rotateFlower 10s linear infinite; /* Rotate animation */
    user-select: none;

}


@keyframes rotateFlower {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
#canvas {
    border: 1.5vh solid #965A3E;
    width: 55vw;
    height: 97vh;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    background-image: url(grass.jpg);

}

body {   
    background-color: #FFE5D9;
    margin: 0;
}

#but {
    height: 8vh;
    width: 18vw;
    position: absolute;
    top: 30vh;
    left: 2vw;
    background-color: #965A3E;
    color: #FFE5D9;
    border-radius: 1.5vh;
    padding: 2vh 4vw;
    border: none;
    cursor: pointer;
    font-size: 3.5vh;
    font-family: "Signika Negative", sans-serif;
    user-select: none;
}

#fishin {
    height: 8vh;
    width: 18vw;
    position: absolute;
    top: 40vh;
    left: 2vw;
    background-color: #965A3E;
    color: #FFE5D9;
    border-radius: 1.5vh;
    padding: 2vh 4vw;
    border: none;
    cursor: pointer;
    font-size: 3.5vh;
    font-family: "Signika Negative", sans-serif;
    user-select: none;
}

#scale-shards-container {
    position: absolute;
    top: 11vh;
    right: 0.3vw;
    color: #965A3E;
    font-size: 4.5vh;
    font-family: "Signika Negative", sans-serif;
    font-weight: bold;
}

#fishing-pole-level {
    position: absolute;
    top: 9vh;
    right: 0.3vw;
    color: #965A3E;
    font-size: 4.5vh;
    font-family: "Signika Negative", sans-serif;
    font-weight: bold;
}

#like {
    font-size: 13vh;
    position: absolute;
    top: 3vh;
    left: 2vw;
    color: #965A3E;
    z-index: 10000;   
    font-family: "Signika Negative", sans-serif;
    font-weight: bold;
    user-select: none;
}

#fish {
    font-size: 13vh;
    position: absolute;
    top: 13.5vh;
    left: 2vw;
    color: #965A3E;
    z-index: 10000;   
    font-family: "Rubik Scribble", system-ui;
    font-weight: bold;
    user-select: none;
}

#questionmark {
    position: absolute;
    top: -7.5vh;
    left: 10.5vw;
    z-index: 10;
    user-select: none;
}

#upgrade-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999999;
    overflow: auto;
}

#upgrade-in {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999999;
    overflow: auto;
}

#upgrade-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFE5D9;
    padding: 4vh 6vw;
    border-radius: 2vh;
    max-width: 80vw;
    color: #965A3E;
    font-family: "Signika Negative", sans-serif;
    font-weight: bold;
}
#upgrade-ind {
    font-size: 3vh;
    height: 70vh;
    width: 70vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFE5D9;
    padding: 4vh 6vw;
    border-radius: 2vh;
    color: #965A3E;
    font-family: "Signika Negative", sans-serif;
    display: flex; /* Set display to flex */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    gap: 20px;
}

#close-upgrade-menu {
    position: absolute;
    top: 2vh;
    right: 3vw;
    cursor: pointer;
}
#close-in {
    font-size: 50px;
    position: absolute;
    top: 2vh;
    right: 3vw;
    cursor: pointer;
}

#upgrade-content button {
    background-color: #FFE5D9;
    border: 1vh solid;
    color: #965A3E;
    border-radius: 1.5vh;
    padding: 2vh 4vw;
    cursor: pointer;
    font-size: 3.5vh;
    font-family: "Signika Negative", sans-serif;
    animation: blink 1s infinite; /* Blink animation */
    font-weight: bold;
}

.alert {
    position: fixed;
    top: 4vh;
    left: 50%;
    transform: translateX(-50%);
    color: #965A3E;
    padding: 2vh 4vw;
    border-radius: 1vh;
    z-index: 9999999;
    opacity: 1;
    transition: opacity 1s ease;
    font-size: 2vw;
    background-color: #FFD166;
}
    #shardpic{
    position: relative;
    top: 15px;
    z-index: 10;
    }
    @keyframes blink {
    0% {
        border-color: #FFA94D; /* First border color */
    }
    50% {
        border-color: #FFD166; /* Second border color */
    }
    100% {
        border-color: #FFA94D; /* First border color */
    }
}


    .fade-out {
        opacity: 0;
    }

    #SapphireBlue {
        color: #082567; /* Set color for Sapphire Blue */
    }
    
    #EmeraldGreen {
        color: #50C878; /* Set color for Emerald Green */
    }
    
    #GoldfishOrange {
        color: #FF8C00; /* Set color for Goldfish Orange */
    }
    
    #AmethystPurple {
        color: #9966CC; /* Set color for Amethyst Purple */
    }
    
    #RubyRed {
        color: #E0115F; /* Set color for Ruby Red */
    }
    
    #SunshineYellow {
        color: #FFD700; /* Set color for Sunshine Yellow */
    }
    
    #CoralPink {
        color: #FF6D70; /* Set color for Coral Pink */
    }
    
    #AquaBlue {
        color: #00FFFF; /* Set color for Aqua Blue */
    }
    
    #CoralOrange {
        color: #FF7F50; /* Set color for Coral Orange */
    }
    
    #AzureBlue {
        color: #007FFF; /* Set color for Azure Blue */
    }
    
    #CoralReefBrown {
        color: #D2691E; /* Set color for Coral Reef Brown */
    }
    
    #DeepSeaBlue {
        color: #000080; /* Set color for Deep Sea Blue */
    }
    
    #OceanicTeal {
        color: #008080; /* Set color for Oceanic Teal */
    }
    
    #NeonGreen {
        color: #39FF14; /* Set color for Neon Green */
    }
    
    #TangerineOrange {
        color: #F28500; /* Set color for Tangerine Orange */
    }
    
    #SeafoamGreen {
        color: #7FFFD4; /* Set color for Seafoam Green */
    }
    
    #LemonYellow {
        color: #FFF44F; /* Set color for Lemon Yellow */
    }
    
    #PearlWhite {
        color: #F8F8FF; /* Set color for Pearl White */
    }
    
    #DeepSeaGreen {
        color: #436A2D; /* Set color for Deep Sea Green */
    }
    
    #DeepSeaRed {
        color: #981D1D; /* Set color for Deep Sea Red */
    }